In [1]:
# use on Apache Beam envi
from google.cloud import bigquery

client = bigquery.Client()

In [5]:
lengthofstay="""
select * from equity_prices.rbs_equity where Date > "2015-01-01" order by Date 
"""
df = client.query(lengthofstay).to_dataframe()
df.head()

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2015-01-02,395.000000,395.000000,383.000000,389.100006,339.463745,7346419
1,2015-01-05,387.000000,389.700012,375.799988,378.000000,329.779724,11267451
2,2015-01-06,377.600006,380.243988,369.799988,370.000000,322.800293,10836629
3,2015-01-07,372.100006,375.000000,366.600006,367.399994,320.531952,7489661
4,2015-01-08,370.899994,379.269989,368.399994,377.700012,329.518005,8700815